$navHeight: 80px;
$site-container-width: 1440px;

$nearBlack: #0d0d0d;
$nearWhite: #f6f6f7;

$lightestGrey: #dedede;
$lightGrey: #c8c8c8;
$grey: #b3b3b3;
$darkGrey: #707070;
$darkestGrey: #3e3e3e;

$darkBlue: #31374a;

$red: #ea3c2c;

$spacing-basis: 4px;

$smarphone-width: 767px;
$tablet-width: 768px;
$desktop-width: 992px;
