<div class="book-banner mb-4">
  <img class="illustration" src="assets/images/lemonade.jpg" alt="">
  <div class="right-background"></div>
  <div class="right-area text-left mt-2">
    <h2 class="mb-1 semi-bold book-title">Réservez !</h2>
    <p class="pr-2 mb-2">Afin de pouvoir réserver, demandez un accès auprès de notre équipe.</p>
    <div class="button-container">
      <a
        class="button"
        href="mailto: bemonad@bnp.fr
          ?subject=Demande d'accès
          &body=Bonjour,%0D%0AVoici mes informations pour une demande d'accès à la plateforme Bemonad%0D%0A%0D%0A
          Nom :%0D%0A
          Prénom :%0D%0A
          email :%0D%0A%0D%0ACordialement"
      >
        Demander un accès
      </a>
    </div>
  </div>
</div>
