@import "mixins";
@import "vars";

#booking-page {
  h2 {
    position: relative;
    margin-left: 10px;
    padding-top: 80px;
    span {
      padding-right: 20px;
      background-color: $lightest-grey;
    }
  }

  h2:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 40px;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
  }

  div {
    margin-bottom: 16px;
  }

  .center {
    display: block;
    margin: auto;
  }

  .room-select {
    @include skewmorphic-shadow();
    border: none;
    background-color: $lightest-grey;
    width: 60%;
  }

  .active-sit {
    background-color: $bemonad-green;
  }

  .sit {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    > div {
      @include skewmorphic-shadow();
      width: 60%;
      border-radius: $default-border-radius;
      overflow: hidden;
    }
  }

  .sit-left, .sit-right {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    overflow: hidden;
    width: 50%;
  }

}
