<div id="adminUsersContainer" class="desktop-nav-avoider">
  <div class="container mb-4">
    <section *ngIf="action === 'show'">
      <h1 class="mt-4 mb-2">Utilisateurs</h1>
      <div class="header">
        <input type="text" class="basic-input" placeholder="Filtrer par email" [(ngModel)]="emailFilter" (ngModelChange)="filterUsers()">
        <button class="add-user-button" (click)="changeAction('addUser', '')">
          <i class="fas fa-user-plus"></i>
        </button>
      </div>
      <ul>
        <li class="caption">
          <span class="list-data semi-bold">Prénom</span>
          <span class="list-data semi-bold">Nom</span>
          <span class="list-data semi-bold">Email</span>
          <span class="list-data semi-bold">Role</span>
          <span class="list-data spacer"></span>
        </li>
        <li class="users-item" *ngFor="let user of filteredUsers">
          <span class="list-data">{{ user.firstName }}</span>
          <span class="list-data">{{ user.lastName }}</span>
          <span class="list-data">{{ user.email }}</span>
          <span class="list-data">{{ user.role }}</span>
          <div class="edit-button" (click)="changeAction('editUser', user)">
            <i class="far fa-edit"></i>
          </div>
        </li>
      </ul>
    </section>

    <section *ngIf="action === 'addUser'">
      <h1 class="mt-4 mb-2">Ajouter un utilisateur</h1>
      <div class="input-container">
        <label for="firstName">Prénom</label>
        <input id="firstName" class="border-input" type="text" placeholder="Prénom" [(ngModel)]="addUser.firstName" />
      </div>
      <div class="input-container">
        <label for="lastName">Nom</label>
        <input id="lastName" class="border-input" type="text" placeholder="Nom" [(ngModel)]="addUser.lastName" />
      </div>
      <div class="input-container">
        <label for="email">Email</label>
        <input id="email" class="border-input" type="email" placeholder="Email" [(ngModel)]="addUser.email" />
      </div>
      <div class="input-container">
        <!-- felix@TODO: Use dropdown select as in /my-bookings -->
        <label for="role">Role</label>
        <select name="role" id="role" [(ngModel)]="addUser.role">
          <option value="user">Utilisateur</option>
          <option value="admin">Administrateur</option>
        </select>
      </div>
      <div class="buttons-container">
        <button class="confirm-button" (click)="addUserAction()">Ajouter</button>
        <button class="cancel-button" (click)="changeAction('show', '')">Annuler</button>
      </div>
    </section>

    <section *ngIf="action === 'editUser'">
      <h1 class="mt-4 mb-2">Éditer un utilisateur</h1>
      <div class="input-container">
        <label for="firstName">Prénom</label>
        <input id="firstName" class="border-input" type="text" [(ngModel)]="userToEdit.firstName" />
      </div>
      <div class="input-container">
        <label for="lastName">Nom</label>
        <input id="lastName" class="border-input" type="text" [(ngModel)]="userToEdit.lastName" />
      </div>
      <div class="input-container">
        <label for="email">Email</label>
        <input id="email" class="border-input" type="text" [(ngModel)]="userToEdit.email" />
      </div>
      <div class="input-container">
        <label for="role">Role</label>
        <select name="role" id="role" [(ngModel)]="userToEdit.role">
          <option value="user">Utilisateur</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="buttons-container">
        <button class="confirm-button" (click)="editUserAction()">Mettre à jour</button>
        <button class="cancel-button" (click)="changeAction('show', '')">Annuler</button>
      </div>
    </section>
  </div>
</div>
