<div id="adminUsersContainer" class="desktop-nav-avoider">
  <div class="container">
    <h1 class="mt-4">Utilisateurs</h1>
    
    <section *ngIf="action === 'show'">
      <div class="header">
        <input type="text" class="default-input" placeholder="Filtre par email" [(ngModel)]="emailFilter" (ngModelChange)="filterUsers()">
        <button class="add-user-button mt-2" (click)="changeAction('addUser', '')">
          <i class="fas fa-user-plus"></i>
        </button>
      </div>
      <ul>
        <li class="caption">
          <span class="list-data semi-bold">Prénom</span>
          <span class="list-data semi-bold">Nom</span>
          <span class="list-data semi-bold">Email</span>
          <span class="list-data semi-bold">Role</span>
          <span class="list-data spacer"></span>
        </li>
        <li class="users-item" *ngFor="let user of filteredUsers">
          <span class="list-data">{{ user.firstName }}</span>
          <span class="list-data">{{ user.lastName }}</span>
          <span class="list-data">{{ user.email }}</span>
          <span class="list-data">{{ user.role }}</span>
          <div class="edit-button" (click)="changeAction('editUser', user)">
            <i class="far fa-edit"></i>
          </div>
        </li>
      </ul>
    </section>

    <section *ngIf="action === 'addUser'">
      <div>
        <div>
          <label for="firstName">Prénom</label>
          <input id="firstName" type="text" [(ngModel)]="addUser.firstName" />
        </div>
        <div>
          <label for="lastName">Nom</label>
          <input id="lastName" type="text" [(ngModel)]="addUser.lastName" />
        </div>
        <div>
          <label for="email">Email</label>
          <input id="email" type="text" [(ngModel)]="addUser.email" />
        </div>
        <div>
          <label for="role">Role</label>
          <select name="role" id="role" [(ngModel)]="addUser.role">
            <option value="user" selected>Utilisateur</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div>
          <button (click)="addUserAction()">Ajouter</button>
          <button (click)="changeAction('show', '')">Annuler</button>
        </div>
      </div>
    </section>

    <section *ngIf="action === 'editUser'">
      <div>
        <div>
          <label for="firstN">Prénom</label>
          <input id="firstN" type="text" [(ngModel)]="userToEdit.firstName" />
        </div>
        <div>
          <label for="lastName">Nom</label>
          <input id="lastN" type="text" [(ngModel)]="userToEdit.lastName" />
        </div>
        <div>
          <label for="mail">Email</label>
          <input id="mail" type="text" [(ngModel)]="userToEdit.email" />
        </div>
        <div>
          <label for="rol">Role</label>
          <select name="rol" id="rol" [(ngModel)]="userToEdit.role">
            <option value="user">Utilisateur</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div>
          <button (click)="editUserAction()">Mettre à jour</button>
          <button (click)="changeAction('show', '')">Annuler</button>
        </div>
      </div>
    </section>
  </div>
</div>
