<div id="roomContainer" *ngIf="room">
  <h1 class="page-title semi-bold text-center">{{room.name}}</h1>

  <div class="container">
    <p class="mb-2">{{room.description}}</p>
    <div class="mb-4">
      <bemonad-capacities [centered]="true" [stand]="room.capacity_stand" [sit]="room.capacity_sit"></bemonad-capacities>
    </div>
    <div class="button-container mb-4">
      <a *ngIf="currentUser" class="button" [routerLink]="['/booking']" [queryParams]="{roomFrom: room._id}">Réserver cette salle</a>
      <a
        *ngIf="!currentUser"
        class="button"
        href="mailto: bemonad@bnp.fr
        ?subject=Demande d'accès
        &body=Bonjour,%0D%0AVoici mes informations pour une demande d'accès à la plateforme Bemonad%0D%0A%0D%0A
        Nom :%0D%0A
        Prénom :%0D%0A
        email :%0D%0A%0D%0ACordialement"
      >
        Demander un accès
      </a>
    </div>
  </div>
  <img [src]="'assets/images/' + room.image" alt="" /> <!-- felix@TODO: insert room image -->

  <bemonad-citation></bemonad-citation>
</div>
