<nav id="mobileNavContainer" class="hide-md hide-lg">
  <div class="burger-container" (click)="toggleMobileMenu()">
    <div class="burger-content" [ngClass]="{'cross': mobileNav.isOpen === true}"></div>
  </div>

  <div class="mobile-nav-content pl-2" [ngClass]="{'opened': mobileNav.isOpen === true}">
    <h2 class="mb-2" (click)="toggleMobileMenu()" [routerLink]="['/']">Bemonad</h2>
    <h2 class="mb-2">Les salles</h2>
      <ul class="pl-2">
        <li class="pb-1" *ngFor="let room of rooms">
          <a [routerLink]="['/rooms']" [queryParams]="{ id: room._id }" (click)="toggleMobileMenu()">{{room.name}}</a>
        </li>
      </ul>
    <div *ngIf="currentUser">
      <div *ngIf="currentUser.role ==='admin'">
        <h2 class="mb-2">Administration</h2>
          <ul class="pl-2">
            <li class="pb-1">
              <a [routerLink]="['/admin/users']" (click)="toggleMobileMenu()">Gestion des utilisateurs</a>
            </li>
            <li class="pb-1">
              <a [routerLink]="['/admin/bookings']" (click)="toggleMobileMenu()">Liste des réservations</a>
            </li>
          </ul>
      </div>
    </div>
    <h2 class="mb-2">Réserver</h2>
    <div class="pl-2">
      <ul>
        <li class="pb-1">
          <a (click)="toggleMobileMenu()" *ngIf="!currentUser">Demander un accès</a>
          <a (click)="toggleMobileMenu()" *ngIf="currentUser" [routerLink]="['/booking']">Réserver une salle</a>
        </li>
        <li class="pb-1">
          <a (click)="toggleMobileMenu()" *ngIf="!currentUser" [routerLink]="['/login']">Se connecter</a>
          <a (click)="toggleMobileMenu(true)" *ngIf="currentUser">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav id="desktopTabletNavContainer" class="hide-xs px-2">
  <a class="semi-bold home-link" [routerLink]="['/']">Bemonad</a>
  <div>
    <div class="rooms-dropdown mr-2" ngbDropdown>
      <button class="rooms-trigger" ngbDropdownToggle>
        Les Salles
      </button>
      <div class="pt-1" ngbDropdownMenu>
        <button class="pb-1" *ngFor="let room of rooms" ngbDropdownItem>
          <a [routerLink]="['/rooms']" [queryParams]="{ id: room._id }">{{room.name}}</a>
        </button>
      </div>
    </div>
    <ul class="links-list">
      <li *ngIf="!currentUser" class="mr-2">
        <a>Demander un accès</a>
      </li>
      <li *ngIf="currentUser" class="mr-2">
        <a [routerLink]="['/booking']">Réserver une salle</a>
      </li>
      <li *ngIf="!currentUser">
        <a [routerLink]="['/login']">Se connecter</a>
      </li>
      <li *ngIf="currentUser">
        <a [routerLink]="['/logout']">Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>
