/* You can add global styles to this file, and also import other style files */
/* NOTE: Every files in src/styles can be import with just its name. For example _vars.scss can be imported with @import "vars"  */

@import "vars";
@import "mixins";

*  {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
